

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
 
}

.bg-img {
    background-size: cover;
    width: 100%;
    height: auto;
}

/* Style the top navigation bar */
.topnav {
	background-color: #a1c53a;
  	overflow: hidden;
}

/* Style the topnav links */
.topnav a {
  float: right;	
  display: block;
  color: #000;
  text-align: center;
  padding: 8px 15px;
  margin: 5px;
  margin-right: 100px;
  text-decoration: none;
}

#logo {
    float: left;
    color: blueviolet;
    margin: 5px;
    margin-left: 100px;
    text-decoration: none;
}
.button{
	padding: 5px;
	width: 100px;
	margin-top: 30px;
	border: none;
	border-radius: 24px;
	background: #00d95f;
	box-shadow: 6px 6px 6px -6px rgba(0, 0, 0, .75);
}
a{
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
.close{
	width: 20px;
	height: 20px;
	position: absolute;
	top: -15px;
	right: -15px;
	background: #fff;
	border-radius: 50%;
	cursor: pointer;
}
/* Style the footer */
.footer {
/*	margin-top: 0%;*/
  	background-color: #777;
}
.footer p{
	text-align: center;
  	color: #000000;
  	padding: 30px;
}
